.experience{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-left: .5rem;
    list-style: none;
}

.experience li .periodo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experience li .periodo::before{
    content: '';
    display: inline-block;
    background-image: url(assets/img/calendario.svg);;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5rem;
    height: 1rem;
}